body {
    margin: auto;
    font-family: Optima
}

h1 {
    vertical-align: top;
}

form, input {
    display: inline-block;
    width: 80px;
}

table {
    vertical-align: top;
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
}

.header-container {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     height: 20px;
     background: black;
     color: white;
     padding: 5px 10px;
}

#controls {
    float: right;
}

#keyboard-controls {
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

#button-controls {
    height: 130px;
    width: 400px;
    text-align: center;
    margin-top: 10px;
    margin: 0 auto;
}

#cockpit {
    height: 100%;
    width: 100%;
}
